.container {
    width: 100%;
    display: flex;
    padding-top: 56px;
    box-sizing: border-box;
}

.contentWrapper {
    display: flex;
    width: 100%;
    padding: 32px;
}

.contentContainer {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .contentWrapper {
        margin-left: 0;
        width: calc(100% - 64px); /*** Padding: 64px ***/
    }
}
