.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title {
    color: var(--warning);
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.text {
    color: var(--gray);
    font-size: 18px;
}
