:root {
    --primary: #0d6efd;
    --secondary: #6e0096;
    --success: #50b83c;
    --warning: #ffa500;
    --danger: #ef4433;
    --white: #fff;
    --gray: #888;
    --dark-gray: #88888833;
    --light-gray: #e5e5e5;
    --black: #000;
    --background: #fafafa;
    --light-primary: #5b84bdff;
    --transparent-black: #00000033;
    --gray-border: #dcdcdc;
    --table-row-hover: #f5f5f5
}
